<div class="card">
  <div class="card-head"><h4>Site Identity</h4></div>
  <div class="row-2">
    <label class="field">
      <span class="field-label">Brand Name</span>
      <input class="input" type="text" name="data[name]" value="<%= data.name || '' %>">
    </label>
    <label class="field">
      <span class="field-label">Accent Word <span class="field-hint">shown in blue</span></span>
      <input class="input" type="text" name="data[nameAccent]" value="<%= data.nameAccent || '' %>">
    </label>
  </div>
  <label class="field">
    <span class="field-label">Tagline</span>
    <input class="input" type="text" name="data[tagline]" value="<%= data.tagline || '' %>">
  </label>
  <div class="row-2">
    <label class="field">
      <span class="field-label">Brand Icon <span class="field-hint">Bootstrap Icons class</span></span>
      <input class="input" type="text" name="data[iconClass]" value="<%= data.iconClass || '' %>" placeholder="bi-bar-chart-line-fill">
    </label>
    <label class="field">
      <span class="field-label">Primary Color</span>
      <input class="input" type="text" name="data[primaryColor]" value="<%= data.primaryColor || '' %>" placeholder="#2563EB">
    </label>
  </div>
</div>
